.grid {
    display: grid;
    &--two-columns {
        grid-template-columns: 1fr 1fr;
        display: flex;
        align-items: center;
    }
    &--three-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }
}